body {
  margin: 0;
  background: #e6e6fa;
  font-family: Arial;
}

.container {
  background: white;
  width: 400px;
  padding: 20px;
  margin: 200px auto;
  border-radius: 12px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
}

textarea {
  width: 100%;
  height: 120px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
