body {
  margin: 0;
  background: #e6e6fa;
  font-family: Arial;
}

.container {
  background: white;
  width: 500px;
  padding: 20px;
  margin: 60px auto;
  border-radius: 12px;
}

svg {
  width: 100%;
  height: 300px;
  border: 2px solid black;
}
